@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cjcz6c');
  src:  url('fonts/icomoon.eot?cjcz6c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cjcz6c') format('truetype'),
    url('fonts/icomoon.woff?cjcz6c') format('woff'),
    url('fonts/icomoon.svg?cjcz6c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="eficon-"], [class*=" eficon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eficon-1:before {
  content: "\e900";
}
.eficon-2:before {
  content: "\e901";
}
.eficon-3:before {
  content: "\e902";
}
.eficon-4:before {
  content: "\e903";
}
.eficon-5:before {
  content: "\e904";
}
.eficon-6 .path1:before {
  content: "\e905";
  color: rgb(167, 162, 162);
}
.eficon-6 .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.eficon-6 .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.eficon-7:before {
  content: "\e908";
}
.eficon-8:before {
  content: "\e909";
}
.eficon-9:before {
  content: "\e90a";
}
.eficon-10:before {
  content: "\e90b";
}
.eficon-12:before {
  content: "\e90c";
}
.eficon-13:before {
  content: "\e90d";
}
.eficon-14:before {
  content: "\e90e";
}
.eficon-15:before {
  content: "\e90f";
}
.eficon-16:before {
  content: "\e910";
}
.eficon-17:before {
  content: "\e911";
}
.eficon-18:before {
  content: "\e912";
}
.eficon-19:before {
  content: "\e913";
}
.eficon-20:before {
  content: "\e914";
}
.eficon-21:before {
  content: "\e915";
}
.eficon-22:before {
  content: "\e916";
}
.eficon-23:before {
  content: "\e917";
}
.eficon-24:before {
  content: "\e918";
}
.eficon-25:before {
  content: "\e919";
}
.eficon-26:before {
  content: "\e91a";
}
.eficon-27:before {
  content: "\e91b";
}
.eficon-28:before {
  content: "\e91c";
}
.eficon-29:before {
  content: "\e91d";
}
.eficon-30:before {
  content: "\e91e";
}
.eficon-31:before {
  content: "\e91f";
}
.eficon-32:before {
  content: "\e920";
}
.eficon-33:before {
  content: "\e921";
}
.eficon-34:before {
  content: "\e922";
}
.eficon-35:before {
  content: "\e923";
}
.eficon-36:before {
  content: "\e924";
}
.eficon-37:before {
  content: "\e925";
}
.eficon-注意:before {
  content: "\e926";
}
.eficon-header-button-action-at:before {
  content: "\e927";
}
.eficon-header-button-action-collect:before {
  content: "\e928";
}
.eficon-header-button-action-files:before {
  content: "\e929";
}
.eficon-ic_attachments:before {
  content: "\e92a";
}
.eficon-ic_emoji_001:before {
  content: "\e92b";
}
.eficon-ic_next_pressed:before {
  content: "\e92c";
}
.eficon-more:before {
  content: "\e92d";
}
.eficon-search:before {
  content: "\e92e";
}
.eficon-sound:before {
  content: "\e92f";
}
.eficon-telephone:before {
  content: "\e930";
}
.eficon-unnotification:before {
  content: "\e931";
}
.eficon-z:before {
  content: "\e932";
}

